
@if (Modo != null)
{
    <EditForm Model="@Vehiculo">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label>
                        Marca
                        @if (ModoEliminar)
                        {
                            <InputText class="form-control deshabilitado" id="marca" @bind-Value="Vehiculo.Marca" />
                        }
                        else
                        {
                            <InputText class="form-control" id="marca" @bind-Value="Vehiculo.Marca" />
                        }
                    </label>
                    <label>
                        Modelo
                        @if (ModoEliminar)
                        {
                            <InputText class="form-control deshabilitado" id="modelo" @bind-Value="Vehiculo.Modelo" />
                        }
                        else
                        {
                            <InputText class="form-control" id="modelo" @bind-Value="Vehiculo.Modelo" />
                        }
                    </label>
                    <label>
                        Año
                        @if (ModoEliminar)
                        {
                            <InputNumber class="form-control deshabilitado" id="year" @bind-Value="Vehiculo.Year" />
                        }
                        else
                        {
                            <InputNumber class="form-control" id="year" @bind-Value="Vehiculo.Year" />
                        }
                    </label>
                    <label>
                        Precio por Dia
                        @if (ModoEliminar)
                        {
                            <InputNumber class="form-control deshabilitado" id="precio-por-dia" @bind-Value="Vehiculo.PrecioPorDia" />
                        }
                        else
                        {
                            <InputNumber class="form-control" id="precio-por-dia" @bind-Value="Vehiculo.PrecioPorDia" />
                        }
                    </label>
                    <label>
                        Capacidad de Carga
                        @if (ModoEliminar)
                        {
                            <InputNumber class="form-control deshabilitado" id="capacidad-de-carga" @bind-Value="Vehiculo.CapacidadDeCarga" />
                        }
                        else
                        {
                            <InputNumber class="form-control" id="capacidad-de-carga" @bind-Value="Vehiculo.CapacidadDeCarga" />
                        }
                    </label>
                    <label>
                        Latitud
                        @if (ModoEliminar)
                        {
                            <InputNumber class="form-control deshabilitado" id="capacidad-de-carga" @bind-Value="Vehiculo.Latitud" />
                        }
                        else
                        {
                            <InputNumber class="form-control" id="capacidad-de-carga" @bind-Value="Vehiculo.Latitud" />
                        }
                    </label>
                    <label>
                        Longitud
                        @if (ModoEliminar)
                        {
                            <InputNumber class="form-control deshabilitado" id="capacidad-de-carga" @bind-Value="Vehiculo.Longitud" />
                        }
                        else
                        {
                            <InputNumber class="form-control" id="capacidad-de-carga" @bind-Value="Vehiculo.Longitud" />
                        }
                    </label>
                </div>
                <div class="col">
                    <label>
                        Color
                        @if (ModoEliminar)
                        {
                            <InputText class="form-control deshabilitado" id="color" @bind-Value="Vehiculo.Color" />
                        }
                        else
                        {
                            <InputText class="form-control" id="color" @bind-Value="Vehiculo.Color" />
                        }
                    </label>
                    <label>
                        Tipo de Vehiculo
                        @if (ModoEliminar)
                        {
                            <InputSelect class="form-control deshabilitado" id="tipo-de-sangre" @bind-Value="Vehiculo.TipoVehiculo.Id">
                                <option value="0">Selecciona un valor</option>
                                @foreach (var tipo in DatosSemilla.Instancia.TipoVehiculo)
                                        {
                                    <option value="@tipo.Id">@tipo.Nombre</option>
                                        }
                            </InputSelect>
                        }
                        else
                        {
                            <InputSelect class="form-control" id="tipo-de-sangre" @bind-Value="Vehiculo.TipoVehiculo.Id">
                                <option value="0">Selecciona un valor</option>
                                @foreach (var tipo in DatosSemilla.Instancia.TipoVehiculo)
                                        {
                                    <option value="@tipo.Id">@tipo.Nombre</option>
                                        }
                            </InputSelect>
                        }
                    </label>
                    <label>
                        Pasajeros
                        @if (ModoEliminar)
                        {
                            <InputNumber class="form-control deshabilitado" id="pasajeros" @bind-Value="Vehiculo.Pasajeros" />
                        }
                        else
                        {
                            <InputNumber class="form-control" id="pasajeros" @bind-Value="Vehiculo.Pasajeros" />
                        }
                    </label>
                    <label>
                        Matricula
                        @if (ModoEliminar)
                        {
                            <InputText class="form-control deshabilitado" id="matricula" @bind-Value="Vehiculo.Matricula" />
                        }
                        else
                        {
                            <InputText class="form-control" id="matricula" @bind-Value="Vehiculo.Matricula" />
                        }
                    </label>
                    <label>
                        NoSeguro
                        @if (ModoEliminar)
                        {
                            <InputText class="form-control deshabilitado" id="no-seguro" @bind-Value="Vehiculo.NoSeguro" />
                        }
                        else
                        {
                            <InputText class="form-control" id="no-seguro" @bind-Value="Vehiculo.NoSeguro" />
                        }
                    </label>
                    <label>
                        Foto
                        @if (ModoEliminar)
                        {
                            <InputText class="form-control deshabilitado" id="foto" @bind-Value="Vehiculo.Foto" />
                        }
                        else
                        {
                            <InputText class="form-control" id="foto" @bind-Value="Vehiculo.Foto" />
                        }
                    </label>
                    <div class="botones">

                        @switch (Modo)
                        {
                            case FormModes.Editar:
                                <button class="btn btn-outline-dark">Editar</button>
                                break;
                            case FormModes.Agregar:
                                <button class="btn btn-outline-dark">Agregar</button>
                                break;
                            case FormModes.Eliminar:
                                <button class="btn btn-danger">Eliminar</button>
                                break;
                            default:
                                break;
                        }
                        <button class="btn btn-outline-danger" @onclick="async () => { await Modo_Click(null); }">Cerrar</button>
                    </div>
                </div>
            </div>
            <Mapa PosicionCambiada="ObtenerPosicionDeMapa" Posicion="Vehiculo.Posicion"/>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Vehiculo Vehiculo { get; set; }

    protected bool ModoEliminar
    {
        get
        {
            return Modo == FormModes.Eliminar;
        }
    }

    [Parameter]
    public FormModes? Modo { get; set; }

    [Parameter]
    public EventCallback<FormModes?> ParaCambiarModo { get; set; }

    protected async Task Modo_Click(FormModes? modo)
    {
        await ParaCambiarModo.InvokeAsync(modo);
    }

    void ObtenerPosicionDeMapa(GoogleMapPosition posicion)
    {
        Vehiculo.Latitud = posicion.Lat;
        Vehiculo.Longitud = posicion.Lng;
    }
}
